
@{
    ViewBag.Title = "AdmInicio";
    Layout = "~/Views/Layout/_EnterpriseLayout.cshtml";
}

<h1>LA ESTAMPITA</h1>
<img src="https://lh6.googleusercontent.com/-nMNC4pSDBWo/U5UcWlAoenI/AAAAAAAAAFU/IoNxIKViFWI/w506-h750/10441359_10202688972440307_4739317957516372700_n.jpg" alt="LA ESTAMPITA PRRRRRA XD" />
