 <!-- FlatFy Theme - Andrea Galanti /-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="es"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Flatfy Free Flat and Responsive HTML5 Template ">
    <meta name="author" content="">

    <title>GuianApp</title>

    <!-- Bootstrap core CSS -->
    <link href="SinglePage/css/bootstrap.min.css" rel="stylesheet">
 
    <!-- Custom Google Web Font -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
	
    <!-- Custom CSS-->
    <link href="SinglePage/css/general.css" rel="stylesheet">
	
	 <!-- Owl-Carousel -->
    <link href="SinglePage/css/custom.css" rel="stylesheet">
	<link href="SinglePage/css/owl.carousel.css" rel="stylesheet">
    <link href="SinglePage/css/owl.theme.css" rel="stylesheet">
	<link href="SinglePage/css/style.css" rel="stylesheet">
	<link href="SinglePage/css/animate.css" rel="stylesheet">
	
	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="SinglePage/css/magnific-popup.css"> 
	
	<script src="SinglePage/js/modernizr-2.8.3.min.js"></script>  <!-- Modernizr /-->
	<!--[if IE 9]>
		<script src="js/PIE_IE9.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="js/PIE_IE678.js"></script>
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
	<![endif]-->

</head>

<body id="home">

	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>
	
	<!-- FullScreen -->
    <div class="intro-header">
		<div class="col-xs-12 text-center abcen1">
			<h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">GuianApp</h1>
			<h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Aplicación turistica de lectura por QR</h3>
			<ul class="list-inline intro-social-buttons">
				<li id="download" ><a href="#downloadlink" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Descarga la aplicación!</span></a>
				</li>
			</ul>
		</div>    
        <!-- /.container -->
		<div class="col-xs-12 text-center abcen wow fadeIn">
			<div class="button_down "> 
				<a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#whatis"> <img class="img_scroll" src="SinglePage/img/icon/circle.png" alt=""> </a>
			</div>
		</div>
    </div>
	
	<!-- NavBar-->
	<nav class="navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#home">GuianApp</a>
			</div>

			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					
					<li class="menuItem"><a href="#whatis">¿Qué es GuianApp?</a></li>
					<li class="menuItem"><a href="#useit">Lectura QR</a></li>
					<li class="menuItem"><a href="#screen">La Aplicación</a></li>
					<li class="menuItem"><a href="#act">Actualizaciones</a></li>
					<li class="menuItem"><a href="#contact">Contáctanos</a></li>
					<li class="menuItem"><a href="@Url.Action("Login", "Home")">Iniciar sesión</a></li>
				</ul>
			</div>
		   
		</div>
	</nav> 
	
	<!-- What is -->
	<div id="whatis" class="content-section-b" style="border-top: 0">
		<div class="container">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>¿Qué es GuianApp?</h2>
				<p class="lead" style="margin-top:0">GuianApp es una aplicación movil que brinda información turística</p>
				
			</div>
			
			<div class="row">

				<div class="col-sm-4 wow fadeInDown text-center">
				  <img  class="rotate" src="SinglePage/img/icon/map.svg" alt="Generic placeholder image">
				   <h3>Detectar lugares de interés</h3>
				   <p class="lead">Podrás saber si existe un lugar de interés cercano, la aplicacion te enviará una notificación.</p>
				   <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->				
				
				<div class="col-sm-4 wow fadeInDown text-center">
				  <img  class="rotate" src="SinglePage/img/icon/audio.png" width="115" height="115" alt="Generic placeholder image">
				   <h3>AudioGuia</h3>
				   <p class="lead">Podrás escuchar la información mientras paseas por los atractivos turisticos.</p>
				   <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->
				
				<div class="col-sm-4 wow fadeInDown text-center">
				  <img  class="rotate" src="SinglePage/img/icon/machu.png" width="130" height="130" alt="Generic placeholder image">
				   <h3>Turismo</h3>
					<p class="lead">Podrás ver los tours de la ciudad, sus horarios de disponibilidad, sus precios y sus rutas.</p>
				  <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->
				
			</div><!-- /.row -->
				
			<div class="row tworow">
			
				<div class="col-sm-4  wow fadeInDown text-center">
				  <img class="rotate" src="SinglePage/img/icon/iphone.gif" width="87" height="150" alt="Generic placeholder image">
				  <h3>Historia</h3>
				  <p class="lead">Podrás leer la historia de los atractivos turisticos con esta aplicación.</p>
				 <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->
				
				<div class="col-sm-4 wow fadeInDown text-center">
				  <img class="rotate" src="SinglePage/img/icon/share.ico" width="125" height="125" alt="Generic placeholder image">
				  <h3>Compartir</h3>
				  <p class="lead">Podrás compartir con la comunidad tus lugares preferidos o rutas que todos deberian visitar</p>

				  <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->
				
				<div class="col-sm-4 wow fadeInDown text-center">
				  <img  class="rotate" src="SinglePage/img/icon/offline.png" width="130" height="130" alt="Generic placeholder image">
				   <h3>Offline</h3>
				 <p class="lead">Podrás descargarte las guias necesarias para lugares donde no llegue el internet y disfrutar asi del viaje</p>
				  <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->
				
			</div><!-- /.row -->
		</div>
	</div>
	
	<!-- Use it -->
    <div id ="useit" class="content-section-a">

        <div class="container">
			
            <div class="row">
			
				<div class="col-sm-6 pull-right wow fadeInRightBig">
                    <img class="img-responsive " src="SinglePage/img/intro/qr.jpg" alt="">
                </div>
				
                <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">   
                    <h3 class="section-heading">Lectura QR</h3>
                    <p class="lead">
						Su funcionamiento se basa en la ubicación junto a los lugares de interés de tu localidad, 
						de una pequeña placa que muestra el nombre del lugar, un código QR y una dirección web 
						(un sitio web diseñado especialmente para móviles, liviano, ágil y accesible).
					</p>

					 <p><a class="btn btn-embossed btn-primary" href="#" role="button">Ver Detalles</a> 
					 <a class="btn btn-embossed btn-info" href="#" role="button">Visitar Sitio Web</a></p>
				</div>   
            </div>
        </div>
        <!-- /.container -->
    </div>

    <div class="content-section-b"> 
		
		<div class="container">
            <div class="row">
                <div class="col-sm-6 wow fadeInLeftBig">
                     <div id="owl-demo-1" class="owl-carousel">
						<a href="SinglePage/img/iphone.png" class="image-link">
							<div class="item">
								<img  class="img-responsive img-rounded" src="SinglePage/img/machu.jpg" alt="">
							</div>
						</a>
						<a href="SinglePage/img/iphone.png" class="image-link">
							<div class="item">
								<img  class="img-responsive img-rounded" src="SinglePage/img/coliseo.jpg" alt="">
							</div>
						</a>
						<a href="SinglePage/img/iphone.png" class="image-link">
							<div class="item">
								<img  class="img-responsive img-rounded" src="SinglePage/img/pisa.jpg" alt="">
							</div>
						</a>
					</div>       
                </div>
				
                <div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">   
                    <h3 class="section-heading">Maravillas del Mundo</h3>
					<div class="sub-title lead3">Tenemos toda la información de las maravillas del mundo</div>
                    <p class="lead">
						GuianApp te ofrece los monumentos más importantes del mundo.
						Al escanear el código QR, que se encuentra en estos lugares, observaras
						un texto descriptivo del lugar visitado, una locución que guía al visitante en la contemplación del lugar,
						una galería de fotos, vídeos, etc.
					</p>

					 <p><a class="btn btn-embossed btn-primary" href="#" role="button">Ver Detalles</a> 
					 <a class="btn btn-embossed btn-info" href="#" role="button">Visitar Sitio Web</a></p>
				</div>  			
			</div>
        </div>
    </div>

	<!-- Screenshot -->
	<div id="screen" class="content-section-b">
        <div class="container">
          <div class="row" >
			 <div class="col-md-6 col-md-offset-3 text-center wrap_title ">
				<h2>La Aplicación</h2>
				<p class="lead" style="margin-top:0">Algunas capturas de la aplicación</p>
			 </div>
		  </div>
		    <div class="row wow bounceInUp" >
              <div id="owl-demo" class="owl-carousel">
				
				<a href="SinglePage/img/slide/1.png" class="image-link">
					<div class="item">
						<img  class="img-responsive img-rounded" src="SinglePage/img/slide/1.png" alt="Owl Image">
					</div>
				</a>
				
               <a href="SinglePage/img/slide/2.png" class="image-link">
					<div class="item">
						<img  class="img-responsive img-rounded" src="SinglePage/img/slide/2.png" alt="Owl Image">
					</div>
				</a>
				
				<a href="SinglePage/img/slide/3.png" class="image-link">
					<div class="item">
						<img  class="img-responsive img-rounded" src="SinglePage/img/slide/3.png" alt="Owl Image">
					</div>
				</a>
				
				<a href="SinglePage/img/slide/4.png" class="image-link">
					<div class="item">
						<img  class="img-responsive img-rounded" src="SinglePage/img/slide/4.png" alt="Owl Image">
					</div>
				</a>
				
               <a href="SinglePage/img/slide/5.png" class="image-link">
					<div class="item">
						<img  class="img-responsive img-rounded" src="SinglePage/img/slide/5.png" alt="Owl Image">
					</div>
				</a>
				
				<a href="SinglePage/img/slide/6.png" class="image-link">
					<div class="item">
						<img  class="img-responsive img-rounded" src="SinglePage/img/slide/6.png" alt="Owl Image">
					</div>
				</a>
              </div>       
          </div>
        </div>


	</div>
	
	<div id="act" class="content-section-a">
	<div  class="content-section-c ">
		<div class="container">
			<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center white">
				<h2>Actualizaciones constantes</h2>
				<p class="lead" style="margin-top:0">Mejoramos para ofrecer la máxima experiencia de navegación, y la información mas reciente</p>
			 </div>
			<div class="col-md-6 col-md-offset-3 text-center">
				<div class="mockup-content">
						<div class="morph-button wow pulse morph-button-inflow morph-button-inflow-1">
							<button type="button "><span>Subscribe to our Newsletter</span></button>
							<div class="morph-content">
								<div>
									<div class="content-style-form content-style-form-4 ">
										<h2 class="morph-clone">Consigue la última actualización.</h2>
										<form>
											<!--<p><label>Your Email Address</label><input type="text"/></p>-->
											<p><button>Descargar GuianApp</button></p>
										</form>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>	
			</div>>
		</div>
	</div>
	</div>	
<!--
	<div id="credits" class="content-section-a">
		<div class="container">
			<div class="row">
			
			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Credits</h2>
				<p class="lead" style="margin-top:0">A special thanks to Death.</p>
			 </div>
			 
				<div class="col-sm-6  block wow bounceIn">
					<div class="row">
						<div class="col-md-4 box-icon rotate"> 
							<i class="fa fa-desktop fa-4x "> </i> 
						</div>
						<div class="col-md-8 box-ct">
							<h3> Bootstrap </h3>
							<p> Lorem ipsum dolor sit ametconsectetur adipiscing elit. Suspendisse orci quam. </p>
						</div>
				  </div>
			  </div>
			  <div class="col-sm-6 block wow bounceIn">
					<div class="row">
					  <div class="col-md-4 box-icon rotate"> 
						<i class="fa fa-picture-o fa-4x "> </i> 
					  </div>
					  <div class="col-md-8 box-ct">
						<h3> Owl-Carousel </h3>
						<p> Nullam mo  arcu ac molestie scelerisqu vulputate, molestie ligula gravida, tempus ipsum.</p> 
					  </div>
					</div>
			  </div>
		  </div>
		  
		  <div class="row tworow">
				<div class="col-sm-6  block wow bounceIn">
					<div class="row">
						<div class="col-md-4 box-icon rotate"> 
							<i class="fa fa-magic fa-4x "> </i> 
						</div>
						<div class="col-md-8 box-ct">
							<h3> Codrops </h3>
							<p> Lorem ipsum dolor sit ametconsectetur adipiscing elit. Suspendisse orci quam. </p>
						</div>
				  </div>
			  </div>
			  <div class="col-sm-6 block wow bounceIn">
					<div class="row">
					  <div class="col-md-4 box-icon rotate"> 
						<i class="fa fa-heart fa-4x "> </i> 
					  </div>
					  <div class="col-md-8 box-ct">
						<h3> Lorem Ipsum</h3>
						<p> Nullam mo  arcu ac molestie scelerisqu vulputate, molestie ligula gravida, tempus ipsum.</p> 
					  </div>
					</div>
			  </div>
		  </div>
		</div>
	</div>
	
	<div id="downloadlink" class="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Download Free</h2>
				<p class="lead" style="margin-top:0">Pay with a Tweet</p>
				<p><a class="btn btn-embossed btn-primary view" role="button">Free Download</a></p> 
			 </div>
			</div>
		</div>
	</div>
-->

	<!-- Contact -->
	<div id="contact" class="content-section-a">
		<div class="container">
			<div class="row">
			
			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Contáctanos</h2>
				<p class="lead" style="margin-top:0">Envía tus sugerencias y opiniones</p>
			</div>
			
			<form role="form" action="" method="post" >
				<div class="col-md-6">
					<div class="form-group">
						<label for="InputName">Nombre</label>
						<div class="input-group">
							<input type="text" class="form-control" name="InputName" id="InputName" placeholder="Ingresa tu nombre" required>
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>
					
					<div class="form-group">
						<label for="InputEmail">Correo</label>
						<div class="input-group">
							<input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Ingresa tu Correo" required  >
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>
					
					<div class="form-group">
						<label for="InputMessage">Mensaje</label>
						<div class="input-group">
							<textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>

					<input type="submit" name="submit" id="submit" value="Enviar" class="btn wow tada btn-embossed btn-primary pull-right">
				</div>
			</form>
			
			<hr class="featurette-divider hidden-lg">
				<div class="col-md-5 col-md-push-1 address">
					<address>
					<h3>Dónde estamos</h3>
					<p class="lead"><a href="https://www.google.com/maps/preview?ie=UTF-8&q=The+Pentagon&fb=1&gl=us&hq=1400+Defense+Pentagon+Washington,+DC+20301-1400&cid=12647181945379443503&ei=qmYfU4H8LoL2oATa0IHIBg&ved=0CKwBEPwSMAo&safe=on">Area 51<br>
					San Juan de Lurigancho, DC 20301</a><br>
					Telf: 930-232-222<br>
					Fax: 111-222-3333</p>
					</address>

					<h3>Social</h3>
					<li class="social"> 
					<a href="#"><i class="fa fa-facebook-square fa-size"> </i></a>
					<a href="#"><i class="fa  fa-twitter-square fa-size"> </i> </a> 
					<a href="#"><i class="fa fa-google-plus-square fa-size"> </i></a>
					<a href="#"><i class="fa fa-flickr fa-size"> </i> </a>
					</li>
				</div>
			</div>
		</div>
	</div>
	
	
	
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h3 class="footer-title">Proyecto GuianApp</h3>
            <p>UPC - Aplicaciones Para Dispositivos Móviles (CC75-1602-WX71) <b>2016-02</b><br/>
              Profesor: <a  href="https://pe.linkedin.com/in/avelasquezn" target="_blank">Velasquez Nuñez, Angel Augusto</a><br/>
			  Correo: <a  href="https://pe.linkedin.com/in/avelasquezn" target="_blank">PCISAVEL@upc.edu.pe </a><br/>
			  ------------------------------------------<br/>
			  Desarrollo WEB BackEnd:<a  href="http://rubyonrails.org/"> Ruby - FW: RoR</a>,<a  href="https://www.mysql.com/"> MySQL.</a><br/>
			  Desarrollo Móvil Android - lenguaje e IDE:<b> Java y Android Studio.</b><br/>
			  Desarrollo Móvil IOS - lenguaje e IDE:<b> Swift y Xcode</b><br/>
			  Prototipos Móviles:<b> Justinmind</b> <br/>
			  Emulador Android:<b> Genymotion</b>
            </p>
	   
          </div> <!-- /col-xs-7 -->

          <div class="col-md-5">
            <div class="footer-banner">
              <h3 class="footer-title">Integrantes:</h3>
              <ul>
                <li><a href="https://www.facebook.com/davidzilvazolano11">David Silva Solano</a></li>
                <li><a href="https://www.facebook.com/ulices.melendezacosta?fref=ts">Ulices Meléndez Acosta</a></li>
                <li><a href="https://www.facebook.com/alex.espino.587?fref=ts">Alex espino</a></li>
                <li><a href="https://www.facebook.com/delacroix.van.cleef?fref=ts">Vincenzo Greggio</a></li>
              </ul>
              <!--Go to: <a href="http://andreagalanti.it/flatfy" target="_blank">andreagalanti.it/flatfy</a>-->
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- JavaScript -->
    <script src="SinglePage/js/jquery-1.10.2.js"></script>
    <script src="SinglePage/js/bootstrap.js"></script>
	<script src="SinglePage/js/owl.carousel.js"></script>
	<script src="SinglePage/js/script.js"></script>
	<!-- StikyMenu -->
	<script src="SinglePage/js/stickUp.min.js"></script>
	<script type="text/javascript">
	  jQuery(function($) {
		$(document).ready( function() {
		  $('.navbar-default').stickUp();
		  
		});
	  });
	
	</script>
	<!-- Smoothscroll -->
	<script type="text/javascript" src="SinglePage/js/jquery.corner.js"></script> 
	<script src="SinglePage/js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="SinglePage/js/classie.js"></script>
	<script src="SinglePage/js/uiMorphingButton_inflow.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="SinglePage/js/jquery.magnific-popup.js"></script> 
</body>

</html>
